<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>EASTER EGG</title>
    <link rel="stylesheet" href="./css/photoprint.css">
</head>
<body>
<h1 class="center" th:text="'Hello ' + ${name} + ', You Found Easter Egg'"></h1>
<div class="center">
    <br>
    <p th:text="'Global hit counter: ' + ${server_count}"></p>
    <p th:text="'Local hit counter: ' + ${local_count}"></p>
</div>
</body>
</html>