<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Photoprint</title>
    <link rel="stylesheet" href="./css/photoprint.css">
</head>
<body>
<h1 class="center">Photoprint Services</h1>
<br>
<div class="center">
    <p><b>Telegram Service:</b> <span class="limegreen" th:text="${telegram_active}"></span></p>
    <p><b>Firebase Service:</b> <span class="limegreen" th:text="${firebase_active}"></span></p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>Server version: <span th:text="${server_version}"></span></p>

</div>
</body>
</html>