html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: table;
}

.limegreen {
    color: limegreen;
}

.center {
    text-align: center;
    vertical-align: middle;
}